.info-card {
  display: flex;
  flex-direction: row;
  font-family: Inter;
  justify-content: space-between;

  &__item {
    padding: 12px 16px;
    background-color: #f9fafa;
    border-radius: 6px;
    margin-bottom: 16px;
    margin-top: 10px;
    border: 1px solid #d9d9d9;
    gap: 10px;
    width: 330px;
  }

  &__title {
    color: #999;
    font-size: 14px;
    font-weight: 400;
    padding-top: 10px;
  }
  &__icons {
    display: flex;
    align-items: center;
  }

  &__value {
    padding-top: 7px;
    padding-bottom: 10px;
    font-size: 15px;
    font-weight: 400;
    margin-left: 5px;
  }
}
